<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="{{ url_for('static', filename='libs/bootstrap/css/bootstrap.min.css') }}">

  <title>Membership Agreement Form</title>
</head>
<body>

<header class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>Membership Agreement</h1>
    <p>Fill in this form to receive your personalized membership contract. Print it. Sign it. Then come back to us. </p>
  </div>
</header>

<hr>

<main class="container">
  <div class="row">
    <div class="col-lg-6">
      <h2>Company Details</h2>

      <form>
        <div class="form-group">
          <label for="company_name">Company Name</label>
          <input type="text" name="company_name" id="company_name"
            placeholder="Enter company name"
            class="form-control">
        </div>

        <div class="form-group">
          <label for="company_business_id">Business ID</label>
          <input type="text" name="company_business_id" id="company_business_id"
            placeholder="Enter business ID"
            class="form-control">
        </div>

        <div class="form-group">
          <label for="company_address">Address</label>
          <input type="text" name="company_address" id="company_address"
            placeholder="Enter company address"
            class="form-control">
        </div>

        <div class="form-group">
          <label for="company_contact_person">Contact Person</label>
          <input type="text" name="company_contact_person" id="company_contact_person"
            placeholder="Enter contact person name"
            class="form-control">
        </div>

        <div class="form-group">
          <label for="company_invoicing_address">Invoicing Address</label>
          <input type="text" name="company_invoicing_address" id="company_invoicing_address"
            placeholder="Enter invoicing address"
            class="form-control">
        </div>

        <div class="form-group">
          <button type="button" name="submit_button" id="submit_button"
            class="btn btn-primary">Get Agreement</button>

          <div id="submit_spinner"
            class="spinner-border text-primary align-middle d-none"
            role="status" style="margin-left:0.5rem">
            <span class="sr-only">Loading...</span>
          </div><!-- /spinner -->
        </div>
      </form>
    </div>
  </div>
</main>

<hr>

<footer class="container">
  <p>&copy; Aalto Fablab 2020</p>
</footer>

<script src="{{ url_for('static', filename='libs/jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='libs/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script>
  $(document).ready(function(){
    $('#submit_button').click(function(){

      // Collect data from form
      var companyName = $('#company_name').val();
      var companyBusinessId = $('#company_business_id').val();
      var companyAddress = $('#company_address').val();
      var companyContactPerson = $('#company_contact_person').val();
      var companyInvoicingAddress = $('#company_invoicing_address').val();

      $('#submit_spinner').removeClass('d-none');
      $('#submit_button').prop('disabled', true);

      $.ajax({
        method: "POST",
        url: "/agreement/prepare",
        data: {
          company_name: companyName,
          company_business_id: companyBusinessId,
          company_address: companyAddress,
          company_contact_person: companyContactPerson,
          company_invoicing_address: companyInvoicingAddress
        }
      }).done(function( data ) {
        $('#submit_spinner').addClass('d-none');
        $('#submit_button').prop('disabled', false);

        if (data == 'Success') {
          console.log('Success');
          window.location = '/agreement/download';
        } else {
          alert( 'Ouch, something went wrong!' );
        }
      });
    });
  });
</script>

</body>
</html>
